.menu {
	margin-bottom: 25px;
}

.app {
	margin-top: 25px;
}

.pagina {
	border:solid 1px #DFDFDF;
	padding:25px !important;
}

li.list-group-item.active {
	background-color: #fff;
	border-color: #009933;
    border-left:solid 10px #009933;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
}

h4 {
	color: #009933 !important;
}


/* Geral e fonte*/
@font-face {
    src: url(../fonts/rawline-400.ttf);
    font-family: Rawline;
    font-weight: 400;
}
.bar1 {
    background-color: #e5e5e5;
    font-family: Roboto !important;
    font-size: 13px !important;
}
.btn-sm-1 {
    padding: 0.1rem 0.5rem;
    font-size: 0.7rem;
    line-height: 0.7;
    border-radius: 0.2rem;
    margin-top: -3px;
}

/* Contraste */
.pagina-acessivel {
    background-color: #000 !important;
    color: #fff;
}
.pagina-acessivel h1,
.pagina-acessivel h2,
.pagina-acessivel h3,
.pagina-acessivel h4 {
    color: #fff !important;
}
.pagina-acessivel a,
.pagina-acessivel a h1,
.pagina-acessivel a h2,
.pagina-acessivel a h3,
.pagina-acessivel a h4,
.pagina-acessivel i {
    text-decoration: none;
    color: #ff0 !important;
}
.pagina-acessivel .bar3 {
    background: transparent linear-gradient(#000 0, #000 100%) no-repeat scroll 0 0 padding-box;
}
.pagina-acessivel a:hover {
    text-decoration: underline;
}
.pagina-acessivel .dropdown-menu {
    border-color: #fff !important;
}
.pagina-acessivel li.active > a {
    color: red !important;
}
.f-transparent {
    background-color: transparent !important;
}
.pagina-acessivel .ac {
    background-color: #1c1c20 !important;
}